        body {
            background-color: rgb(199, 199, 199);
        }
        
        .top {
            padding: 25px 5vw 50px 5vw;
            height: 5vw;
            width: 90%;
        }
        
        .toplefta {
            margin: 0px 20px;
            font-size: 80px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: black;
            text-decoration: none;
            float: left;
        }
        
        .toprighta {
            margin: 20px 25px;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
            float: right;
        }
        
        .middle {
            width: 90%;
            margin-top: 50px;
            margin: 0;
            margin: 0 auto;
        }
        
        .login-block {
            margin: 0 auto;
            height: 500px;
            width: 300px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .loginip {
            width: 300px;
            height: 40px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
        }
        
        .loginbu {
            width: 307px;
            height: 42px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .loginbu:hover {
            background-color: #818181;
            color: white;
        }
        
        .bottominfo {
            padding: 60px 5vw 5px 5vw;
            width: 90%;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .bottominfo a {
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
