{% extends "base.html" %}
{% block css%}
<link href="/accounts/static/css/aboutus.css" rel="stylesheet" type="text/css">
{% endblock css%}
{% block title %}LEJ AboutUs{% endblock title%}
{% block block_content %}
    <div class="middle">
        <div class="info">
            <img src="/static/img/pexels-alan-cabello-2205690.jpg" width=50% alt="">
        <p>
        We are a family of brands, driven by our desire to make great design available to everyone in a sustainable way.
        Together we offer fashion, design and services, that enable people to be inspired and to express their own personal
        style, making it easier to live in a more circular way.    
        </div>
    </div>
{% endblock block_content %}