{% extends "base.html" %}
{% block css%}
<link href="/accounts/static/css/orderdetail.css" rel="stylesheet" type="text/css">
{% endblock css%}
{% block title %}LEJ Order Detail{% endblock title%}
{% block block_content %}
    <div class="middle">
        {% include "accounts_sidebar.html" %}
        <div class="blockright">  
            {% for order in orders %}
            <div class="detail">
                <div class="img">
                    <img src={{ order.product.db_product_productimg[0].url }} width="100%">
                </div>
                <div class="info">
                    <table>
                        <tr>
                            <th>NAME</th>
                            <th>{{ order.product.name }}</th>
                        </tr>
                        <tr>
                            <th>PRICE</th>
                            <th>TWD {{ order.product.price }}</th>
                        </tr>
                        <tr>
                            <th>COUNT:</th>
                            <th>{{ order.count }}</th>
                        </tr>
                        <tr>
                            <th>TOLPRICE:</th>
                            <th>TWD {{ order.price }}</th>
                        </tr>
                        <tr>
                            <th>Product number:</th>
                            <th>{{ order.product.id + 1000000 }}</th>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="blockright1">
            <div class="contact">
               <h3>Contact Information</h3>
                Get In Touch<p>
                We will respond to your mails within one day
                <h2>ENJshop@gmail.com</h2>
            </div>
        </div>
    </div>
{% endblock block_content %}