{% extends "base.html" %}
{% block css%}
<link href="/accounts/static/css/reset_.css" rel="stylesheet" type="text/css">
{% endblock css%}
{% block title %}LEJ Reset Password{% endblock title%}
{% block block_content %}
    {% from "message/form_errors.html" import form_field_errors %}
    <div class="middle">
            <div class="login-block">
                <form method="POST" action="">
                    {{ resetpasswordform.csrf_token }}
                    <div>
                        <h1>Reset Password</h1>
                        {{ resetpasswordform.email }}
                        {{ form_field_errors(resetpasswordform.email.errors) }}
                        {{ resetpasswordform.password }}
                        {{ form_field_errors(resetpasswordform.password.errors) }}
                        {{ resetpasswordform.confirm_password }}
                        {{ form_field_errors(resetpasswordform.confirm_password.errors) }}
                        {% include "message/flash_messages.html" %}
                        {{ resetpasswordform.enter }}
                    </div>
                </form>
            </div>
    </div>
{% endblock block_content %}