{% extends "base.html" %}
{% block css%}
<link href="/accounts/static/css/reset_.css" rel="stylesheet" type="text/css">
{% endblock css%}
{% block title %}LEJ Verify Mail{% endblock title%}
{% block block_content %}
    {% from "message/form_errors.html" import form_field_errors %}
    <div class="middle">
            <div class="login-block">
                <form method="POST" action="{{ url_for('accounts.verify_mail') }}">
                    {{ resetform.csrf_token }}
                    <div>
                        <h1>Verify Mail</h1>
                        {{ resetform.email }} 
                        {{ form_field_errors(resetform.email.errors) }} 
                        {% include "message/flash_messages.html" %}
                        {{ resetform.enter }}
                    </div>
                </form>
            </div>
    </div>
{% endblock block_content %}