{% extends "base.html" %}
{% block css%}
<link href="/accounts/static/css/user.css" rel="stylesheet" type="text/css">
{% endblock css%}
{% block title %}LEJ User{% endblock title%}
{% block block_content %}
    <div class="middle">
        {% include "accounts_sidebar.html" %}
        {% from "message/form_errors.html" import form_field_errors %}
        <div class="blockright">
            <form method="POST" action="{{ url_for('accounts.user') }}">
                {{ updataform.csrf_token }}
                <div>
                    <h1>Information</h1>
                    
                    <h2>Hi {{ current_user.username }}</h2>
                    <p>
                    {{ updataform.password }}
                    {{ form_field_errors(updataform.password.errors) }}
                    {{ updataform.confirm_password }}
                    {{ form_field_errors(updataform.confirm_password.errors )}}
                    {{ updataform.email(value=email_value) }}
                    {{ form_field_errors(updataform.email.errors) }}
                    {{ updataform.phone(value=phone_value) }}
                    {{ form_field_errors(updataform.phone.errors) }}
                    {{ updataform.birth(value=birth_value) }}
                    {{ form_field_errors(updataform.birth.errors) }}
                    {{ updataform.enter }}
                    {% include "message/flash_messages.html" %}
                </div>
            </form>
        </div>
    </div>
{% endblock block_content %}