        body {
            background-color: rgb(199, 199, 199);
        }
        
        .top {
            padding: 25px 0 30px;
            height: 100px;
        }
        
        .toplefta {
            margin: 0px 20px;
            font-size: 80px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: black;
            text-decoration: none;
            float: left;
        }
        
        .toprighta {
            margin: 20px 25px;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
            float: right;
        }
        
        .middle {
            width: 100%;
            margin-top: 50px;
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            margin: 0;
        }
        
        .blockleft {
            margin: 0 auto;
            width: 200px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .blockright {
            margin: 0 auto;   
        }
        
        .bottominfo {
            padding: 30px 15px 10px;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .bottominfo a {
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .divhr {
            border-right-style: double;
            border-color: #8d8d8d;
        }
        
        .divimg {
            padding: 15px 15px;
            height: 820px;
            width: 490px;
            overflow: hidden;
            float: left;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img:hover {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            opacity:0.5;
            filter:alpha(opacity=50);
        }

        .info{
            padding: 15px 15px;
            text-align: center;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
        }