        body {
            background-color: rgb(199, 199, 199);
        }
        
        .top {
            padding: 25px 5vw 50px 5vw;
            height: 5vw;
            width: 90%;
        }
        
        .toplefta {
            margin: 0px 20px;
            font-size: 80px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: black;
            text-decoration: none;
            float: left;
        }
        
        .toprighta {
            margin: 20px 25px;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
            float: right;
        }
        
        .middle {
            width: 90%;
            margin-top: 50px;
            display: grid;
            grid-template-columns: 0.1fr 0.8fr 1.2fr;
            margin: 0 auto;
        }
        
        .blockleft {
            margin: 0 auto;
            width: 8vw;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .blockright {
            margin: 0 auto;
            width: 500px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .blockright1 {
            margin: 0 auto;
            width: 530px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .bottominfo {
            padding: 30px 15px 10px;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .bottominfo a {
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .divhr {
            border-right-style: double;
            border-color: #8d8d8d;
        }
        
        .detail {
            margin: 20px 0px;
            height: 230px;
            width: 800px;
            float: left;
            overflow: hidden;
        }
        
        .img {
            height: 230px;
            width: 150px;
            float: left;
        }
        
        .info {
            margin: 10px 20px;
            height: 150px;
            width: 550px;
            float: left;
            text-align: left;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }
        
        hr {
            border-right-style: double;
            border-color: #8d8d8d;
        }

        .contact{
            font-size: 25px;
        }

        .ip {
            width: 300px;
            height: 40px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
        }
        
        .bu {
            width: 300px;
            height: 47px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .bu:hover {
            background-color: #818181;
            color: white;
        }