        body {
            background-color: rgb(199, 199, 199);
        }
        
        .top {
            padding: 25px 5vw 50px 5vw;
            height: 5vw;
            width: 90%;
        }
        
        .toplefta {
            margin: 0px 20px;
            font-size: 80px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: black;
            text-decoration: none;
            float: left;
        }
        
        .toprighta {
            margin: 20px 25px;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
            float: right;
        }
        
        .middle {
            width: 90%;
            margin-top: 50px;
            display: grid;
            grid-template-columns: 0.1fr 1.2fr 0.8fr;
            margin: 0 auto;
        }
        
        .blockleft {
            margin: 0 auto;
            width: 8vw;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .blockright1 {
            margin: 0 auto;
            width: 45vw;
        }
        .blockright2 {
            margin: 0 auto;
            width: 350px;
        }
        
        .ip {
            width: 300px;
            height: 40px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
        }
        
        .bu {
            width: 270px;
            height: 47px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .bu:hover {
            background-color: #818181;
            color: white;
        }
        
        .ip1 {
            width: 40px;
            height: 40px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
        }
        
        .bu1 {
            width: 47px;
            height: 47px;
            font-size: 24px;
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: rgb(175, 175, 175);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .bu1:hover {
            background-color: #818181;
            color: white;
        }

        .bottominfo {
            padding: 60px 5vw 5px 5vw;
            width: 90%;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .bottominfo a {
            color: rgb(73, 73, 73);
            text-decoration: none;
        }
        
        .divhr {
            border-right-style: double;
            border-color: #8d8d8d;
        }

        hr {
            border-right-style: double;
            border-color: #8d8d8d;
        }

        .divimg {
            margin: 0 auto;
            height: 900px;
            overflow: hidden;
            overflow-y: auto;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        .info{
            width: 450px;
            text-align:left;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }

        .infotop{
            font-size: 35px;
        }